#backround{
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  object-fit: cover;
}

.header{
  color: #7f1b1d;
  padding: 10px;
  margin: 3px;
  display: inline-block;
}

.inputContainer{
  font-family: inherit;
  padding: 0.5vw 1vw;
  margin-right: 1.5vw;
  text-align: center;
  width: 10vw;
  background-color: #211e1e;
  color: #858585;
}

.inputContainer:hover{
  background-color: #7f1b1d;
  color: #211e1e;
}

.buttonContainer{
  font-family: inherit;
  padding: 0.5vw 1vw;
  margin-right: 1.5vw;
  text-align: center;
  width: 10vw;
  background-color: #211e1e;
  color: #7f1b1d;
}

.buttonContainer:hover{
  background-color: #7f1b1d;
  color: #211e1e;
}